body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.topbar {
  background-color: #ff0606;
  color: #fff;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 36px;
}
.moving {
  margin-left: 300px;
  height: 34px;
  width: 500px;
  margin-bottom: 0px;
}
.opt {
  margin-bottom: 0px;
}
.navbar {
  height: 68px;
  width: 100%;
}
.nav img {
  height: 10px;
  width: 10px;
  margin-right: 3px;
}
